@import '../variables.scss';
.daily__item {
    h3, p {
        font-size: 26px;
        font-weight: 300;
    }
    h4 {
        font-size: 36px;
        font-weight: 300;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        width: 100%;
    }
    img {   
        width: 118px;
        height: 115px;
    }
    .cold {
        color: #b2b2b2
    }
}
