@import '../variables.scss';
.forecast__item {
    margin-top: 50px;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $transparent-color;
}

@media (max-width: 1024px) {
    .forecast__item {
        margin-top: 30px;
        padding: 10px 8px;
    } 
}

@media (max-width: 425px) {
    .forecast__item {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        padding: 5px 5px;
    } 

}