@import '../variables.scss';
.hourly__item {
    
    h3 {
        font-size: 36px;
        font-weight: 300;
    }
    h4 {
        font-size: 30px;
        font-weight: 300;
    }
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        width: 100%;

    }
    p {
        font-size: 45px;
        font-weight: 300; 
        margin-left: 10px;
    }
    img {
        width: 99px;
        height: 96px;
    }
}

@media (max-width: 1024px) {
    .hourly__item {
        h3,p {
            font-size: 30px;
        }
        h4 {
            font-size: 28px;
        }
        img {
            width: 85px;
            height: 85px;
        }
    }
}