@import '../variables.scss';

.main {
  margin-top: 50px;
  .forecast__top {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 64px;
  }
}

.main__weather {
  display: flex;
  font-weight: 200;
  img {
    width: 256px;
    height: 256px;
  }
}

.main__left {
  padding-right: 100px;
  border-right: 1px solid white;
}

.main__right {
  display: flex;
  margin-left: 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main__weather__deg {
  margin-left: 45px;
}

.deg__title {
  font-size: 200px;
  line-height: 170px;
}
.deg__subtitle {
  font-size: 50px;
  padding-left: 10px;
}

.forecast__bottom {
  margin-top: 40px;
}

.forecast__header {
  display: flex;
  border-bottom: 1px solid white;
  font-size: 36px;

  .hourly {
    margin-left: 40px;
    opacity: 50%;
    padding-bottom: 15px;
    cursor: pointer;
  }
  .daily {
    margin-left: 40px;
    opacity: 50%;
    padding-bottom: 15px;
    cursor: pointer;
  }
  .active {
    border-bottom: 4px solid #fff;
    opacity: 100%;
  }
}

.forecast__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


@media (max-width: 1440px) {
    .main {
        h1 {
            font-size: $fz40;
        }  
    }
    .main__weather {
        img {
          width: 200px;
          height: 200px;
        }
      }
      .main__left {
        padding-right: 50px;
      }
      .main__right {
        margin-left: 10px;
      }
      .main__weather__deg {
        margin-left: 45px;
      }
      
      .deg__title {
        font-size: 150px;
        line-height: 130px;
      }
      .deg__subtitle {
        font-size: 40px;
        padding-left: 10px;
      }
      
      .forecast__bottom {
        margin-top: 30px;
      }
      .forecast__header {      
        .hourly {
          margin-left: 20px;
        }
        .daily {
          margin-left: 20px;
        }
      }
}

@media (max-width: 1024px) {
    .main {
        h1 {
            font-size: $fz40;
        }  
    }
    .main__weather {
        img {
          width: 150px;
          height: 150px;
        }
      }
      .main__left {
        padding-right: 30px;
      }
      .main__right {
        margin-left: 0px;
      }
      .main__weather__deg {
        margin-left: 25px;
      }
      
      .deg__title {
        font-size: 100px;
        line-height: 100px;
      }
      .deg__subtitle {
        font-size: 30px;
        padding-left: 10px;
      }
      
      .forecast__bottom {
        margin-top: 40px;
      }
      .forecast__header {      
          font-size: 26px;
        .hourly {
          margin-left: 10px;
        }
        .daily {
          margin-left: 20px;
        }
      }
}

@media (max-width: 768px) {
  
}