@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Kranky&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-image: url('/BgColour.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(12px);
    color: #fff;
}


